
*{
  margin:0;
  padding:0;
}

body{
  position:relative;
  width:100%;
  min-height:100vh;
  height:100%;
  margin:0;
  padding:0;
  background-image: url(/img/khurshid.gif);
  display:flex;
  justify-content:center;
  align-items:center;
  transform-style: preserve-3d;
  perspective: 10000px;
  transition:2s;
  overflow-x:hidden;
}

.stars-container{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:-1;

  transform:translateZ(-200px);
  margin:0;
  padding:0;
  animation: MovingInTospace 0.8s linear infinite;
}


@keyframes MovingInTospace{
  0%{
    transform: translateZ(-200px) translateX(0);
  }
  100%{
    transform: translateZ(-200px) translateX(-400px);
  }
}



.star{
  position:absolute;
  z-index:-1;
  background: white;
  width:1px;
  height:1px;
  filter:blur(0.5px);
}





.menu-list{
  width:350px;
  min-height:400px;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
  transform: rotateY(10deg) rotateX(-5deg);
  transform-style: preserve-3d;
  perspective: 10000px;
  z-index:1;
}

.item-container{
  position:relative;
  transform-style: preserve-3d;
  perspective: 10000px;
  padding:5px 35px;
}


.item-container:hover .item{
  cursor:pointer;
  transform: rotateY(-380deg) translateX(-30px);
  background:rgb(224, 158, 43);
  box-shadow:0px 0px 30px 10px rgb(224, 158, 43);
  font-weight:bold;
  color:white;
}

.item-container:hover .top{
  background: rgb(224, 158, 43);
}

.item-container:hover .right{
  background: rgb(224, 158, 43);
}

.item-container:hover .bottom{
  background: rgb(224, 158, 43);
}

.item-container:hover .left{
  background: rgb(224, 158, 43);
}

.item-container:hover .back{
  background: rgb(224, 158, 43);
}

.item{
  position:relative;
  width:100%;
  height:90px;
  background:rgb(37, 7, 79);
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Roboto', sans-serif;
  font-size:27px;
  color: rgb(79, 75, 87);
  transform-style: preserve-3d;
  perspective: 10000px;
  transform: rotateY(20deg);
  transition:0.8s ease-in-out;
}

.top{
  position:absolute;
  width:100%;
  height:110px;
  top:-110px;
  background:rgb(44, 18, 82);
  transform: rotateX(90deg);
  transform-origin:bottom;
  transform-style: preserve-3d;
  perspective: 10000px;
}

.right{
  position:absolute;
  width:110px;
  height:100%;
  right: -110px;
  background: inherit;
  background:rgb(74, 5, 130);
  transform: rotateY(90deg);
  transform-origin:left;
  filter:blur(1px);
}

.bottom{
  position:absolute;
  width:100%;
  height:110px;
  bottom:-110px;
  background:inherit;
  transform: rotateX(-90deg);
  transform-origin:top;
  filter:blur(1px);
}

.left{
  position:absolute;
  width:110px;
  height:100%;
  left:-110px;
  background:rgb(21, 7, 41);
  transform: rotateY(-90deg);
  transform-origin:right;
  filter:blur(1px);
}

.back{
  position:absolute;
  width:100%;
  height:90px;
  top:-90px;
  background:inherit;
  transform: rotateX(90deg);
  transform-origin:bottom;
  filter:blur(1px);
}

.bg{
  display:none;
}



@media(max-width:500px){
  .bg{
    width:100%;
    height:100%;
    position:absolute;
    background:darkblue;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:27px;
    color:white;
  }
  .menu-list{
    display:none;
  }
}